.banner-custom-bg {
    background-color: #FEEAE9;
}

.highlight {
    color: #FF136F;
}

.category img {
    height: 100px;
}

.card {
    border: none;
    box-shadow: 35px 30px 38px lightgrey;
}

.lates-says {
    background-color: #FEEAE9;
    padding: 50px;
}

.panda-buynow-btn {
    background-color: #FF2379;
    color: white;
}